.start-screen {
  display: flex;
  flex: 1;
  flex-direction: column;
  place-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: calc(1vw + 1vh);
  color:black;
}

.start-screen h2,
.winner-container h2 {
  font-size: calc(2vw + 2vh);
  margin-bottom: 20px;
}

.start-screen ol,
.start-screen ul {
  text-align: left;
  margin: 0 auto;
  max-width: 80%;
}

.start-screen li {
  font-size: calc(1.2vw + 1.2vh);
  margin-bottom: 10px;
}

.start-screen button {
  font-size: calc(1.5vw + 1.5vh);
  background-color: #ff5733;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;  
  border-radius: 5px;
}

.start-screen button:hover {
  background-color: #ff5733;
  color: rgb(0, 0, 0);
  transform: scale(1.01);
  border-radius: 5px;
}

.biogame-container {
  display: grid;
  place-items: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

.winner-container {
  display: grid;
  place-items: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

.assembly-container {
  display: grid;
  place-items: center;
  align-content: center;
}

.biogame-container button {
  align-self: flex-end;
  background-color: #ff5733;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  font-size: calc(1vw + 1vh);
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.biogame-container button:hover {
  background-color: #ff5733;
  color: rgb(0, 0, 0);
  transform: scale(1.05);
  border-radius: 5px;
}


.biogame-container .nucleotide {
  width: 2vw;
  height: 5vh;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
  font-size: calc(1vw + 1vh);
  font-weight: 850;
  margin-top: 0px;
}

.biogame-container .nucleotide:hover {
  transform: scale(1.1);
}

.biogame-container .sequence {
  padding: 1vh;
  font-size: calc(2vw + 2vh);
}

.selected-fragments {
  font-size: calc(1.5vw + 1.5vh);
  padding: 1vh;
}

.biogame-container .fragments {
  font-size: calc(1vw + 1vh);
  margin-top: 0px;
}

.biogame-container .fragment-buttons {
  display: flex;
  flex-wrap: wrap; /* Allows buttons to wrap onto the next line */
  gap: 1vw;
  justify-content: center; /* Centers buttons in the container */
  padding-bottom: 1vh;
}

.biogame-container .assembly-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*width: 100%;  Ensures the container takes full width to utilize the space for the reset button */
}

.biogame-container .reset-button {
  align-self: flex-end; /* Positions the reset button to the right */
  margin-top: 10px;
  font-size: calc(1vw + 1vh);
  cursor: pointer;
  background-color: #ff5733;
}

.biogame-container .reset-button:hover {
  background-color: red;
  color: white;
  transform: scale(1.05);
}

.biogame-container .submit-button:hover {
  background-color: green;
  color: white;
  transform: scale(1.05);
}


.biogame-container .submit-button {
  font-size: calc(1vw + 1vh);
  cursor: pointer;
  margin-top: 0px;
  background-color: #ff5733;
  color: white;
}
