#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  overflow: visible;
  width: 100%;
  height: 100%;
}

.nav {
  background-color: #333;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
  margin: 0 10px;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.nav a:hover {
  background-color: #555;
}

.logout-btn {
  background-color: #ff5733;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 1rem; /* Adjust as needed */
}


.logout-btn:hover {
  background-color: #ff784f;
}

footer {
  background-Color: 'lightgray';
  margin-top: auto;
  padding: 20px;
  text-Align: 'center'; 
  bottom: 0;
  left: 0;
  width: 100%;
}
