.question-container {
    border: 2px solid #ccc; /* Add a border around the entire quiz */
    padding: 50px; /* Add some padding inside the container */
    margin: 0 auto; /* Center the container horizontally */
    max-width: 650px; /* Limit the width of the container */
    margin-top: 85px;
    margin-bottom: 20px;
    border-radius: 10px;  
    box-shadow: 3px 3px 10px grey;
    background-color: white;
  }

  .question {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .next-button {
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .next-button:hover {
    transform: scale(1.01);
    color: black;
  }
  
  .results-container {
    border: 2px solid #ccc; /* Add a border around the results container */
    padding: 20px; /* Add some padding inside the container */
    margin: 20px auto; /* Center the container horizontally with some space around it */
    max-width: 650px; /* Limit the width of the container */
    border-radius: 10px;  
    box-shadow: 3px 3px 10px grey;
    background-color: white;
  }
  
  .results-heading {
    font-size: 24px; /* Increase the font size of the heading */
    margin-bottom: 20px; /* Add some space below the heading */
  }
  
  .results-list {
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0; /* Remove default padding */
  }
  
  .result-item {
    font-size: 24px; /* Set font size for result items */
    margin-bottom: 10px; /* Add some space between result items */
  }

  .result-item:hover {
    transform: scale(1.01);
  }
  