#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pet {
  height: 18em;
  position: absolute;
  bottom: 100px;
  right: 0;
  cursor: grab; /* Makes it look like you're petting the dog */
  animation: shakeAnimation .75s linear infinite,
    moveHorizontally 15s linear infinite;
}

body {
  margin: 0;
  background-image: url('./assets/Backyard.png');
  background-size: cover;
  display: flex;
  min-height: 100vh;
  background-position: center -200px;
}

@keyframes shakeAnimation {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

@keyframes moveHorizontally {
  0% {
    right: 1em;
  }
  100% {
    right: calc(100% - 18em);
  }
}

.card {
  padding: 2em;
  position: relative;
}